@charset "UTF-8";
body {
  font-family: '黑体';
  height: 5000px;
}

.top {
  height: 40px;
  background-color: #EEEEEE;
}

.top .nav ul {
  height: 100%;
}

.top .nav ul li {
  height: 100%;
  float: left;
  line-height: 40px;
}

.top .nav ul li:last-child a {
  border-right: none;
}

.top .nav ul a {
  color: #656565;
  padding: 0 10px;
  border-right: 1px solid #999;
}

.banner {
  padding-top: 1px;
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
  height: 100%;
}

.main th, .main td {
  text-align: center;
}

.main .keynum {
  width: 40px;
  text-align: center;
}

.main .numedit {
  color: gray;
}

.buycarbox {
  width: 100%;
  background-color: #337ab7;
  position: fixed;
  bottom: 0;
}

.buycar {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buycar div {
  width: 230px;
  height: 50px;
  background-color: white;
  border: 1px solid white;
  border-radius: 7px;
  line-height: 50px;
  text-align: center;
}

.buycar div .info {
  font-size: 20px;
}

.buycar div .m {
  font-size: 30px;
  color: #FF7F50;
  font-weight: 700;
}

.buycar div .price {
  font-size: 26px;
  color: #F81313;
  font-weight: bolder;
  font-family: '微软雅黑';
}

.buycar div:first-child .m,
.buycar div:first-child .price {
  text-decoration: line-through;
  color: #8F8F8F;
}

.buycar .open {
  width: 120px;
  font-size: 20px;
  color: white;
  background-color: #F81313;
  border: 1px solid #F81313;
}

.buycar .login {
  color: white;
  font-size: 20px;
}
